.projects {
  padding: 50px 0;
}

.projects p {
  max-width: 850px;
}

.projects span {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 1.1em;
}

.projects .slider {
    margin-top: 20px;
} 

.project {
    height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project img {
  max-width: 100%;
  height: auto;
}