@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.about {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about h2 {
  font-size: 2em;
  margin: 10px 0;
}

.about .mainContent span {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 1.1em;
}

.about .imagePair img {
  max-width: 255px;
  max-height: 255px;
}

.about .rightPicture {
  max-width: 500px;
  max-height: 600px;
  overflow: hidden;
}

.about img {
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.imagePair {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1035px) {
  .about .rightPicture img {
    max-width: 350px;
  }

  .about .imagePair img {
    max-width: 200px;
    max-height: 200px;
  }
}

@media screen and (max-width: 850px) {
  .about {
    flex-direction: column-reverse;
  }

  .about .rightPicture img {
    max-width: 350px;
    max-width: 500px;
  }

  .imagePair {
    align-items: center;
    gap: 5px;
  }
}

@media screen and (max-width: 520px) {
  .about .imagePair img {
    max-width: 200px;
    max-height: 200px;
  }
}


@media screen and (max-width: 410px) {
  .about .imagePair {
    flex-direction: column;
  }
}
